

body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background: linear-gradient(to right, pink, lightblue);
}

nav {
    background: black;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}

nav a:hover {
    color: hotpink;
}

h1 {
    color: navy;
    font-size: 50px;
}

p {
    font-size: 24px;
}

img {
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px gray;
}

button {
    background: hotpink;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.card {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
}

footer {
    background: black;
    color: white;
    padding: 20px;
    margin-top: 30px;
}





